html {
    box-sizing: border-box;
}

* {box-sizing: border-box; margin: 0; padding: 0;}

*::before, ::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


@font-face {
    font-family: "Muller";
    src: local("Muller-Bold"), 
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
    /* типографика */
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Light"), 
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
    /* типографика */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Medium"), 
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
    /* типографика */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("Muller-Regular"), 
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
    /* типографика */
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    /* блочная модель */
    min-width: 1170px;
    /* типографига */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    /* офромление */
    background: #E5E5E5;
    padding-top: 30px;
    padding-bottom: 30px
}

:root {
    --yellow-color: #CC9933;
    --brown-fill: #A47312;
    --bronze-fill: #CC9933;
    --white-color: #ffffff;
    --sand-color: #A47312;
    --sound-color: #F0BF5F;
    --black-color: #000000;
    --signal-color: #333333;
    --lightGray-color: #999999;
}
/* Normalize */

.text-left {
    /* блочная модель */
    margin-left: 55px;
}

.list-reset {
    /* блочная модель */
    margin: 0;
    padding: 0;
    /* типографика */
    list-style: none;
}

.btn-reset {
    /* блочная модель */
    padding: 0;
    /* типографика */
    border: none;
    background-color:transparent;
    cursor: pointer;
}

.flex {
    /* блочная модель */
    display: flex;
}

.container {
    /* блочная модель */
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.container:last-child {
    margin-bottom: 0px;
}

.section-title {
    /* блочная модель */
    margin: 0;
    margin-left: 195px;
    margin-bottom: 20px;
}

.section-descr {
    /* блочная модель */
    margin: 0;
    margin-bottom: 50px;
}

.section__offset {
    /* блочная модель */
    padding-top: 60px;
    margin-top: 0;
}

/* HEADER */
.header {
    /* блочная модель */
    justify-content: center;
    flex-direction: column;
}

.header__links {
    display: inline-block;
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
    padding: 5px;
}

.header__links:focus {
    outline: 1px solid var(--yellow-color);
}

.header__links:hover {
    color: var(--yellow-color);
    transition: color 0.5s ease-in-out;
}

.header__links:active {
    outline: none;
    color: var(--sand-color);
}

.header__links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--sand-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container__wrapper {
    /* блочная модель */
    width: 1170px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 70px;
    /* оформление */
    background: var(--white-color);
    border-radius: 15px;
}


.header__container {
    /* блочная модель */
    align-items: center;
}

.header__logo {
    /* блочная модель */
    margin-right: auto;
}

.header___nav {
    /* блочная модель */
    margin-right: 134px;
}

.header__user {
    /* оформление */
    background-image:url('../img/header-item.svg');
    background-position: left center;
    background-repeat: no-repeat;
    color: var(--yellow-color);
}

.header__user:focus {
    outline: 1px solid var(--yellow-color);
}

.header__user:hover {
    color: var(--sound-color);
    transition: color 0.5s ease-in-out;
}

.header__user:active {
    outline: none;
    color: var(--sand-color);;
}

.user {
    /* блочная модель */
    padding-left: 27px;
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    color: var(--yellow-color);
    font-size: 16px;
    line-height: 150%;
}

.header__phone {
    /* блочная модель */
    width: min(15%, 500px);
    position: relative;
    right: 47%;
    /* типографика */
    font-family: "Muller";
    font-weight: 500;
    color: var(--DullGrey-color);
    font-size: 20px;
}

.header__phone:focus {
    color: var(--yellow-color);
    outline: 1px solid var(--yellow-color);
    transition: color 0.5s ease-in-out;
}

.header__phone:hover {
    color: var(--yellow-color);
}

.header__phone:active {
    color: var(--sand-color);;
}

.header__item {
    /* блочная модель */
    padding: 0px 15px;
}

.header__wrapper {
    /* блочная модель */
    display: flex;
    flex-direction: row;
    justify-content:right;
    padding-right: 15px;
}

.header__inner {
    /* блочная модель */
    width: 190px;
    height: 42px;
    /* типографика */
    background: var(--white-color);
    border-radius: 10px;
    border: 1px solid var(--bronze-fill);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.header__inner:hover {
    background-color: var(--bronze-fill);
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.header__inner:focus {
    background-color: var(--bronze-fill);
}

.header__inner:active {
    background-color: var(--brown-fill);
}

.btn {
    /* блочная модель */
    padding: 13px 20px;
    /* типографика */
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--yellow-color);
}


.header__btn {
    /* блочная модель */
    margin-right: 50px;
    width: 107px;
    height: 42px;
    /* оформление */
    background: var(--white-color);
    /* типографика */
    border: 1px solid var(--bronze-fill);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn:hover {
    color: var(--white-color);
    transition: color 0.5s ease-in-out;
}

.btn:focus {
    color: var(--white-color);
}

.btn:active {
    color: var(--white-color);
}

.header__btn:hover {
    background-color:var(--yellow-color);
    transition: background-color 0.5s ease-in-out;
}

.header__btn:focus {
    background-color: var(--yellow-color);
}

.header__btn:active {
    background-color: var(--brown-fill);
}

/* HERO */

.hero__container {
    /* блочная модель */
    justify-content: space-between;
}

.hero-content-right {
    /* блочная модель */
    justify-content: right;
    margin-left: 24px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hero__slider__left {
    /* оформление */
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/set-1.jpg") no-repeat;
    /* блочная модель */
    position: relative;
    width:573px;
    height: 258px;
    border-radius: 15px;
}


.hero__click:focus:hover {
    outline-offset: 8px;
    outline: 1px solid var(--yellow-color);
}



.hero-container {
    /* блочная модель */
    justify-content: space-between;
}

.hero-content-right {
    /* блочная модель */
    justify-content: right;
    margin-left: 24px;
}

.hero-click:hover {
    color: var(--sound-color);
}

.hero-click:active{
    color: var(--white-color);
}

.hero-detalis-right, .hero-detalis {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    color: var(--sound-color);
    /* блочная модель */
    margin: 0;
    margin-left: 45px;
}

.hero-tour-right, .hero-tour {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 20px;
    color: var(--white-color);
    /* блочная модель */
    margin: 0;
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.special-offer-right {
    /* типографика */
    font-family: "Muller";
    font-weight: 700;
    font-size: 60px;
    color: var(--white-color);
    /* блочная модель */
    margin-top: 212px;
    padding-left: 45px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.special-offer {
    /* блочная модель */
    padding-top: 40px;
    padding-left: 45px;
    margin:0px;
}


.hero-subtitle {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 40px;
    color: var(--signal-color);
    padding-bottom: 20px;
}

.hero__clider__left2 {
    /* оформление */
    background:url("../img/set-2.jpg") no-repeat;
    /* типографика */
    border-radius: 15px;
    /* блочная модель */
    width: 573px;
    height: 250px;
}

.hero__clider__right {
    /* блочная модель */
    float: right;
    /* оформление */
    background:url("../img/set-3.jpg") no-repeat;
    /* блочная модель */
    width: 573px;
    height: 530px;
    /* типографика */
    border-radius: 15px;
}

.hero__block__right {
    /* блочная модель */
    display: flex;
    justify-content: right;
}

.special-offer {
    /* типографика */
    font-family: "Muller";
    font-weight: 700;
    font-size: 40px;
    color: var(--white-color);
}

.special-offer:first-child, .hero-tour:first-child, .hero-detalis:first-child {
    /* блочная модель */
    margin-top: 0px;
}

/* CONTEINER-SERVICES */
.articles__list {
    /* блочная модель */
    width: 888px;
}

.articles-text {
    /* типографика */
    font-size: 16px;
    line-height: 32px;
    font-family: "Muller";
    font-weight: 400;
}

.articles-caption {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 40px;
    color: var(--signal-color);
    padding-bottom: 20px;
}

.services__slider {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1155px;
    height: 744px;
}

.services__links {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.services__item {
    /* блочная модель */
    width: 559px;
    height: 355px;
    /* типографика */
    background: var(--white-color);
    border-radius: 15px;
    margin: 0px;
}


.services-text {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 40px;
    color: var(--signal-color);
}

.services-caption, .serv-item {
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: var(--yellow-color);
    /* блочная модель */
    padding-right: 20px;
    padding-left: 45px;
}

.services-caption, .serv-item:focus {
    color: var(--yellow-color);
}

.services-caption, .serv-item:hover {
    color: var(--sound-color);
    transition: color 0.5s ease-in-out;
}

.services-caption, .serv-item:active {
    color: var(--brown-fill);
}

.serv-item {
    display: inline-block;
    /* оформление */
    background-image: url('../img/services.svg');
    /* типографика */
    background-position: right center;
    background-repeat: no-repeat;
}

.services-lead {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    line-height: 32px;
    /* блочная модель */
    padding-left: 45px;
    padding-bottom: 35px;
    margin: 0;
}


.pic-1 {
    /* блочная модель */
    width: 573px;
    height: 165px;
    margin-bottom: 26px;
    /* типографика */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* оформление */
    background: url("../img/grop-1.jpg") no-repeat;
}

.pic-2 {
    /* блочная модель */
    margin-bottom: 26px;
    width: 573px;
    height: 165px;
    /* типографика */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* оформление */
    background: url("../img/grop-2.jpg") no-repeat;
}

.pic-3 {
    /* блочная модель */
    width: 573px;
    height: 165px;
    margin-bottom: 26px;
    /* офрмление */
    background: url("../img/grop-3.jpg") no-repeat;
    /* типографика */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pic-4 {
    /* блочная модель */
    margin-bottom: 26px;
    width: 573px;
    height: 165px;
    /* типографика */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* блочная модель */
    background: url("../img/grop-4.jpg") no-repeat;
}

/*  ADVANTAGES SECTION-OFFSET */
.advantages-img-1,  .advantages-img-2,  .advantages-img-3,  .advantages-img-4, .advantages-img-5,  .advantages-img-6, .advantages-img-7, .advantages-img-8  {
    /* блочная модель */
    text-align: left;
    margin-top: 40px;
    margin-left: 45px;
}

.advantages__list__item {
    /* оформление */
    background: var(--white-color);
    /* типографика */
    border-radius: 15px;
    /* блочная модель */
    width: 276px;
    height: 276px;
}

.advantages__list {
    /* блочная модель */
    margin-bottom: 22px;
}

.advantages__list__item:not(:nth-last-child(6n)) {
    /* блочная модель */
    margin-right: 22px;
}

.advantages-text {
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 20px;
}

.advantages-text-descr {
    /* блочная модель */
    flex: content;
    margin-left: 45px;
    text-align: left;
    width: 189px;
    height: 128px;
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--black-color);
}


/* SERVICE-PLACEMENT SECTION-OFFSET */
.container-background {
    /* блочная модель */
    width: 1170px;
}

.placement-text {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: var(--signal-color);
    padding-bottom: 20px;
}

.placent-text {
    /* блочная модель */
    margin-right:5px;
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--lightGray-color);
}

.text-countries {
    /* блочная модель */
    width: min(50%, 191px);
    margin-right:5px;
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--lightGray-color);
}

.text-slogan {
    /* блочная модель */
    padding-top: 16px;
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--black-color);
}

.list__placement {
    /* блочная модель */
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-evenly; */
    height: 1928px;
    padding-bottom: 60px;
}

.ment-1, .ment-2, .ment-3, .ment-4, .ment-5, .ment-6, .ment-7, .ment-8, .ment-9 {
    /* типографика */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ment-10 {
    /* типографика */
    border-radius: 15px;
}

.list__item__placement {
    /* блочная модель */
    width: 374px;
    height: 440px;
    /* оформление */
    background: var(--white-color);
    border-radius: 15px;
}

.list__item__placement:nth-child(odd) {
    margin-right: 24px;
}

.list__item__placement:nth-child(2n+1) {
    margin-bottom: 24px;
}

.list__ident {
    margin-top: 24px;
}

.text-from, .stars__icon {
    /* блочная модель */
    display: inline-flex;
    margin-top: 36px;
}

.text-from, .stars__icon, .text-slogan, .text-countries, .button {
    /* блочная модель */
    margin-left: 45px;
}

.text-countries {
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--lightGray-color);
    padding-top: 16px;
    padding-bottom: 20px;
}

.services-button {
    /* блочная модель */
    padding: 13px 20px;
    /* типографика */
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--yellow-color);
}

.services-btn {
    /* блочная модель */
    width: 100px;
    height: 42px;
    margin-left: 45px;
    /* типографика */
    border: 1px solid var(--yellow-color);
    border-radius: 10px;
}

.services-button:focus {
    color: var(--white-color);
}

.services-button:hover {
    color: var(--white-color);
    transition: color 0.5s ease-in-out;
}

.services-button:active {
    color: var(--white-color);
}

.services-button:focus {
    background-color: var(--yellow-color);
}

.services-button:hover {
    background-color: var(--yellow-color);
    transition: color 0.5s ease-in-out;
}

.services-button:active {
    background-color: var(--sand-color);
}

.list__item__background {
    width: 374px;
    height: 440px;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--white-color);
}

.list__background__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-left: 53px;
    background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/place-9.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.list__item__link {
    font-weight: 500;
    font-size: 20px;
    padding-right: 18px;
    color: var(--white-color);
    background-image: url(../img/service-figure.svg);
    background-position: right center;
    background-repeat: no-repeat;
}

.list__item__link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* DROP*/

.section-header{
    /* типографика */
    font-size: 40px;
    color: #333;
    font-weight: 400;
    /* блочная модель */
    margin-left: 40px;
    margin-bottom: 20px;
}
  
h1,h2,h3,h4,p,ul{
    /* блочная модель */
    margin: 0;
}
  
.flex {
    /* блочная модель */
    display: flex;
}
.submit-button {
    /* блочная модель */
    padding: 13px 19px;
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    margin-top: 5px;
    /* типографика */
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
}

.submit-button:focus {
    color: var(--white-color);
}
.submit-button:hover {
    color: var(--white-color);
    transition: color 0.5s ease-in-out;
}

.submit-button:active {
    color: var(--white-color);
}

.submit-button:hover {
    background-color: var(--yellow-color);
    transition: color 0.5s ease-in-out;
}

.submit-button:focus {
    background-color: var(--yellow-color);
}

.submit-button:active {
    background-color: var(--brown-fill);
}

.drop {
    background: #E9E9E9;
    /* блочная модель */
    padding: 40px 40px 70px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto 0 auto;
}
  
.drop__form {
    /* блочная модель */
    width: 1080px;
    background: var(--white-color);
    padding: 28px;
    border-radius: 15px;
    margin: 28px 30px;
}
  
.drop__column {
    /* блочная модель */
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-right: 20px;
}

select:after {
    /* блочная модель */
    content: "▼";
    right: 8px;
    top: 4px;    
    padding: 0 8px;
    position: absolute;
    text-align: center;
    width: 10%;
    height: 100%;
    z-index: 1;
    /* типографика */
    font-size: 12px;
    pointer-events: none;
    box-sizing: border-box;
}
  
.drop-column:nth-last-child(2) {
    /* блочная модель */
    margin-right: 30px;
}
  
.drop-label {
    /* блочная модель */
    margin-bottom: 15px;
    display: block; 
    /* типографика */
    font-family: "Muller", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--black-color);
}

.form-input {
    /* блочная модель */
    width: 170px;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 16px;
    position: relative;
}

.drop-date, .drop-number {
    /* блочная модель */
    width: 120px;
}
  
.drop-number {
    border-bottom: 1px solid var(--lightGray-color);
}
  
.submit {
    /* блочная модель */
    width: 108px;
    height: 42px;
}
  

/*  CONTACTS */
.contacts {
    /* блочная модель */
    padding-top: 70px;
}

.contacts__list {
    /* блочная модель */
    height: 528px;
}

.contacts__content {
    /* блочная модель */
    justify-content: space-between;
    padding: 45px;
    height: 618px;
    /* оформление */
    border-radius: 15px;
    background: var(--white-color);
}

.contacts__picture {
    /* блочная модель */
    display: flex;
    justify-content: right;
}

.pad-top:first-child {
    /* блочная модель */
    padding-top: 0px;
}

.contacts__item {
    /* блочная модель */
    display: flex;
    justify-content: space-between;
    width: 375px;
    padding-bottom: 23px;
    padding-top: 23px;
    /* оформлние */
    line-height: 24px;
    border-bottom: 1px solid  #E9E9E9;;
}

.contacts-heading {
    /* типографика */
    font-family: "Muller";
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 20px;
}

.contacts__item:last-child {
    /* блочная модель */
    padding-bottom: 0px;
    margin-right: 0px;
}


.contacts-address  {
    /* блочная модель */
    margin: 0px;
    padding: 0px;
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* оформление */
    color: var(--black-color);
}

.site-comment {
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--lightGray-color);
}

.contacts-number {
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
}


.contacts__wrapper {
    /* блочная модель */
    width: 235px;
    text-align: start;
}

.contacts-title {
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    color: var(--black-color);
}

.site-link {
    /* типографика */
    color: var(--yellow-color);
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 5px;
}

.site-link:hover {
    color: var(--yellow-color);
    transition: color 0.5s ease-in-out;
}

.site-link:focus {
    outline: 1px solid var(--yellow-color);
}

.site-link:active {
    outline: none;
    color: var(--sand-color);;
}


.contacts-btn {
    /* блочная модель */
    margin-top: 45px;
    padding: 27px 30px;
    border: 1px solid var(--yellow-color);
    background: var(--white-color);
    border-radius: 10px;
}

.site-btn {
    /* типографика */
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--yellow-color);
}

.contacts-btn:focus {
    color: var(--white-color);
}

.contacts-btn:hover {
    color: var(--white-color);
    transition: color 0.5s ease-in-out;
}

.contacts-btn:active {
    color: var(--white-color);
}

.contacts-btn:focus {
    background-color: var(--yellow-color);
}
.contacts-btn:hover {
    background-color: var(--yellow-color);
    transition: color 0.5s ease-in-out;
}

.contacts-btn:active {
    background-color: var(--sand-color);
}

/* FOOTER */

.block__footer {
    /* блочная модель */
    justify-content: space-between;
    /* оформление */
    border-radius: 15px;
    background: var(--signal-color);
    padding: 45px;
}

.banner {
    background-image: url('../img/Frame.svg');
    background-repeat: no-repeat;
    background-position: right 100px top 120px;
}


.services-subtitle {
    /* типографика */
    color: var(--white-color);
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
}

.services__address {
    /* типографика */
    color:var(--white-color);
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    padding-bottom: 15px;
}

.services__phone {
    /* типографика */
    color: var(--yellow-color);
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.services__phone:focus {
    color: var(--yellow-color);
    outline: 1px solid;
}

.services__phone:hover {
    color: var(--sound-color);
    transition: color 0.3s ease-in-out;
}

.services__phone:active {
    color: var(--sand-color);;
}

.services__email {
    /* типографика */
    color: var(--yellow-color);
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.services__email:focus {
    color: var(--yellow-color);
    outline: 1px solid;
}

.services__email:hover {
    color: var(--sound-color);
    transition: color 0.3s ease-in-out;
}

.services__email:active {
    color: var(--sand-color);;
}

.services__item__company {
    /* блочная модель */
    margin-bottom: 37px;
}

.services__item__siteprav {
    /* блочная модель */
    margin-bottom: 40px;
}

.services__item__email {
    /* блочная модель */
    margin-top: 15px;
}

.services__all {
    /* типографика */
    color:var(--yellow-color);
}

.services__all:focus {
    color: var(--yellow-color);
    outline: 1px solid;
}

.services__all:hover {
    color: var(--sound-color);
    transition: color 0.3s ease-in-out;
}

.services__all:active {
    color: var(--sand-color);;
}

.social__icon {
    /* блочная модель */
    margin-bottom: 20px;
}

.social__icon::after::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.social__icon svg {
    fill: var(--lightGray-color);
    transition: fill 0.3s ease-in-out;
}

.social__icon:hover svg {
     fill: transparent;
     stroke: var(--white-color);
}

.social__icon__TripAdvisor:focus svg {
    fill: var(--bronze-fill);
}

.social__icon__TripAdvisor:hover svg {
    fill: var(--bronze-fill);
}

.social__icon__TripAdvisor:active svg {
    fill: var(--brown-fill);
}

.social__icon__ok:focus svg {
    fill: var(--bronze-fill);
}

.social__icon__ok:hover svg {
    fill: var(--bronze-fill);
}

.social__icon__ok:active svg {
    fill: var(--brown-fill);
}

.social__icon__vk:focus svg {
    fill: var(--bronze-fill);
}

.social__icon__vk:hover svg {
    fill: var(--bronze-fill);
}

.social__icon__vk:active svg {
    fill: var(--brown-fill);
}

